:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --accent-logo-color: #000000;
  --primary-white-color: #ffffff;
  --background-color: #f5f5f5;
  --back-photos-color: #f5f4fa;
  --background-color-back: #2f303a;
  --border-box-color: #eeeeee;
  --button-hover-color: #188ce8;
  --border-color-header: #ececec;
}
* {
  box-sizing: border-box;
}
body {
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-header);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 354px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.header-menu-title {
  margin-top: 0;
  margin-bottom: 0;
}

.header-menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.header-contact-title {
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 0;
  margin-left: 0;
}

.header-contact-title:last-child {
  margin-right: 0;
}

.header-contact-icon {
  fill: var(--title-text-color);
  margin-right: 10px;

}

.header-contact-icon:hover,
.header-contact-icon:focus {
 fill: var(--accent-color);

}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin: 0;
  padding-left: 0;
}

.logo-black {
  color: var(--accent-logo-color);
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link-active {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding: 32px 0;
  display: block;
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}


.main-section {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--background-color-back);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(
      rgba(47, 48, 58, 0.4) 100%,

      rgba(196, 196, 196, 1) 10%
    ),
    url(../images/img16.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto 30px auto;
  width: 696px;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  display: block;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-container {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.caption-background-color {
  background-color: var(--back-photos-color);
  padding: 94px 0;
}

.caption:last-child {
  margin-right: 0;
}

.section {
  padding: 94px 0;
}

.section-caption {
  padding-top: 0;
  padding-bottom: 94px;
}

.subject-container {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.subject-title {
  width: 270px;
  margin-right: 30px;
}

.subject-title:last-child {
  margin-right: 0;
}
.subject {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.subject-text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
.container-caption-title {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.caption-title {
  margin-right: 30px;
}

.caption-title:last-child {
  margin-right: 0;
}
.caption-img {
  display: block;
}

.name-user-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.photo-user-title {
  width: 270px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.photo-user-title:last-child {
  margin-right: 0;
}

.user-box-img {
  margin-bottom: 0;
  background-color: var(--back-photos-color);
}

.name-user {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.post-user {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.button-portfolio-title {
  margin-right: 8px;
}

.button-portfolio-title:last-child {
  margin-right: 0;
}
.button-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-image {
  display: block;
}
.portfolio-box {
  height: 404px;
  width: 370px;
  color: var(--primary-white-color);

  padding-bottom: 0;
}

.portfolio-box:hover,
.portfolio-boxfocus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title-description {
  padding: 20px 24px;
  border: 1px solid var(--border-box-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  background-color: var(--background-color-back);
  padding: 60px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin: 0;
}

.logo-white {
  color: var(--primary-white-color);
}

.footer-links {
  margin-top: 0;
  margin-bottom: 12px;
}
.footer-links:last-child {
  margin-bottom: 0;
}

.footer-adress-title {
  margin-top: 20px;
}
.maps {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-style: normal;
}

.maps:hover,
.maps:focus {
  color: var(--accent-color);
}
.adress-link {
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.telephon-link {
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.telephon-link:hover,
.telephon-link:focus {
  color: var(--accent-color);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background: var(--back-photos-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-hover-color);
  color: var(--primary-white-color);
}

.button-portfolio-section {
  padding-top: 50px;
  padding-bottom: 94px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
